@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    background-color: white;
    width: 1920px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-image: url('/img/header.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.bg {
    width: 80%;
    max-width: 1200px;
    height: 80px;
    margin: 30px 0;
    background-color: rgba(255, 255, 255, 0.263);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top {
    width: 100%;
    padding: 50px 0;
}

.top ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    list-style: none;
}

.top a {
    color: white;
    text-decoration: none;
    font-size: 36px;
    font-weight: 400;
    transition: all 0.3s ease;
    position: relative;
}

.top a:hover::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
}

.top a.active {
    color: #775248;
}

.top a.active::after {
    background-color: #775248;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    text-decoration: none;
}

.logo_l {
    width: 100%;
}

.main {
    width: 100%;
    max-width: 1200px;
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

h1 {
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
    color: black;
    letter-spacing: 6%;
    text-align: center;
    margin-bottom: 40px;
}

p {
    font-weight: 300;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 3%;
    color: #000;
}

.footer {
    background: #918474;
    padding: 80px 40px;
    margin-top: 30px;
    width: 1000%;
    display: flex;
    justify-content: center;
}

.footer_c {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact, .hours {
    display: flex;
    flex-direction: column;
}